<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
	id="WebApp_ID" version="3.0">
  
  <servlet>
    	<servlet-name>coreServlet</servlet-name>
    	<servlet-class>com.weixin.servlet.CoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>coreServlet</servlet-name>
    	<url-pattern>/coreServlet</url-pattern>
    </servlet-mapping>
  <servlet>
    	<servlet-name>oauthServlet</servlet-name>
    	<servlet-class>com.weixin.servlet.OauthServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>oauthServlet</servlet-name>
    	<url-pattern>/oauthServlet</url-pattern>
    </servlet-mapping>
  <servlet>
    	<servlet-name>condition</servlet-name>
    	<servlet-class>com.weixin.servlet.ConditionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>condition</servlet-name>
    	<url-pattern>/condition</url-pattern>
    </servlet-mapping>
  <servlet>
    	<servlet-name>conditionQuery</servlet-name>
    	<servlet-class>com.weixin.servlet.ConditionQueryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>conditionQuery</servlet-name>
    	<url-pattern>/conditionQuery</url-pattern>
    </servlet-mapping>
  <servlet>
    	<servlet-name>dormitory</servlet-name>
    	<servlet-class>com.weixin.servlet.DormitoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>dormitory</servlet-name>
    	<url-pattern>/dormitory</url-pattern>
    </servlet-mapping>
  <servlet>
    	<servlet-name>leave</servlet-name>
    	<servlet-class>com.weixin.servlet.LeaveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>leave</servlet-name>
    	<url-pattern>/leave</url-pattern>
    </servlet-mapping>
  <servlet>
    	<servlet-name>bind</servlet-name>
    	<servlet-class>com.weixin.servlet.BindServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>bind</servlet-name>
    	<url-pattern>/bind</url-pattern>
    </servlet-mapping>
    
    

</web-app>