@import url(https://fonts.googleapis.com/css?family=Roboto);
	* {
	  margin: 0;
	  padding: 0;
	  font-family: 'Roboto' sans-serif;
	}
	h1{
		    font-family:Arial;
			margin-bottom: 5px;
			box-sizing: border-box;
			font-size: 15px;
			color:#7744FF;
		}
	.head {
	  text-align: center;
	  color: #fff;
	 }
	.group {
	  position: relative;
	  margin-top: 40px;
	  width: 40%;
	  hight: 90%;
	  margin-left: 20%;
	}
	input {
	  padding-left: 5px;
	  background: #5264AE;
	  padding: 5px;
	  dispaly: block;
	  width: 160%;
	  border: none;
	  border-bottom:1px solid #757575;
	  border-radius: 30px;
	}
	input[type="submit"] {
	  background-color: blue;
	  color: #fff;
	}
	input:focus {
	  outline: none;
	  border: none;
	  color: #fff;
	 }
	input:valid {
	   color: rgba(255,255,255,0.5);
	}
	label {
	  position: absolute;
	  top: 4px;
	  left: 15px;
	  color: #fff;
	  font-size: 15px;
	  pointer-events: none;
	  transition: 0.2s ease all;
	}

	input:focus ~ label, input:valid ~ label {
	  top: -20px;
	  font-size: 13px;
	  color:#5264AE;
	}

	.foo {
	  position: relative;
	  display: block;
	  width: 102%;
	  border-radius: 30px;
	  margin-left: 30%;
	}

	.foo:before, .foo:after {
	  content: '';
	  height: 25px;
	  width: 0;
	  position: absolute;
	  bottom: 1px;
	  background: rgba(255,255,255,0.3);
	  transition: 0.2s ease all; 
	}

	.foo:before {
	  left: 50%;
	  border-bottom-right-radius: 30px;
	  border-top-right-radius: 30px;
	}
	.foo:after {
	  right: 50%;
	  border-bottom-left-radius: 30px;
	  border-top-left-radius: 30px;
	}
	input:focus ~ .foo:before , input:focus ~ .foo:after {
	  width: 82%;

	}
	form{
		width: 400px;
		margin: 0 auto;
		color:black;
		background-color:#FFBB66;
		border-radius: 3px;
		box-shadow: 2px 2px 5px 1px rgba(0,0,0,.2);
		padding-bottom: 40px;
	}
	h3{
		margin-left: 50%;
	}



@charset "UTF-8";
main {
  padding: 1px;
  position: relative;
  margin: left;
}

#date-container {
  border: 1px solid #ccc;
  padding: 20px;
  width: 220px;
}

#gw--datetimepicker {
  margin-top: 20px;
  width: 222px;
  box-sizing: border-box;
  overflow: hidden;
  padding: 5px;
  position: relative;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  font-size: 14px;
  text-align: center;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */
}

#gw--datetimepicker-header {
  font-family: 微软雅黑;
  font-weight: bold;
}

#gw--datetimepicker-header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gw--datetimepicker-header ul li {
  width: 30%;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#gw--datetimepicker-header ul li:hover {
  background-color: #eee;
}

#gw--datetimepicker-header ul li:not(:first-child) {
  margin-left: -4px;
}

#gw--datetimepicker-header ul li:first-child, #gw--datetimepicker-header ul li:last-child {
  width: 17%;
}

#gw--datetimepicker-body {
  height: 208px;
}

#gw--datetimepicker-body table {
  table-layout: fixed;
  border-collapse: collapse;
}

#gw--datetimepicker-body table thead {
  font-family: 微软雅黑;
}

#gw--datetimepicker-body table tbody {
  font-family: Arial;
}

#gw--datetimepicker-body table tbody td {
  border-radius: 4px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

#gw--datetimepicker-body table tbody td:hover {
  background-color: #eee;
}

#gw--datetimepicker-selected-year::after {
  content: "年";
}

#gw--datetimepicker-selected-month::after {
  content: "月";
}

#gw--datetimepicker-year,
#gw--datetimepicker-month {
  padding-top: 14px;
  padding-bottom: 14px;
}

#gw--datetimepicker-year-body td,
#gw--datetimepicker-month-body td {
  width: 62px;
  padding-top: 23px;
  padding-bottom: 23px;
}

#gw--datetimepicker-day thead th,
#gw--datetimepicker-day-body td {
  padding: 6px 7px;
}

#gw--datetimepicker-day-body td.prev, #gw--datetimepicker-day-body td.next {
  color: #999;
}

#gw--now {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: none;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

#gw--now:hover {
  background-color: #eee;
}

#gw--now:active, #gw--now:focus {
  outline: none;
}
