.table-detail{
	padding: 2em;
	&:after{
		display: table;
		clear: both;
		zoom: 1;
		content: "";
	}
	table{
		float: left;
		margin-right: 2em;
		margin-bottom: 4em;
	}
	.buttons-select button{
		width: 120px;
		height: 45px;
		margin:10px 2em;
		border: none;
		outline: 0;
		font-size: 16px;
		color: #fff;
		cursor: pointer;
		float: right;
	}
	.buttons-select {
		margin-top: -10px;
		display: inline-block;
		float: right;
		width: 50px;
		#leave-view{
			background-color: #3498db;
			border: 1px solid #3498db;
			&:hover{background-color: lighten(#3498db,10);}
		}
		#class-view{
			background-color: #303641;
			border: 1px solid #303641;
			&:hover{background-color: lighten(#303641,10);}
		}
		#sign-view{
			background-color: #18bc9c;
			border: 1px solid #18bc9c;
			&:hover{background-color: lighten(#18bc9c,10);}
		}
		#disconnect-view{
			background-color: #d91e18;
			border: 1px solid #d91e18;
			&:hover{background-color: lighten(#d91e18,10);}
		}
	}
	.buttons-class{
		vertical-align: middle;
		margin-bottom: 10px;
		button{
			width: 55px;
			height: 35px;
			margin: 6px 3px;
			text-align: center;
			border-radius: 4px;
			outline: 0;
			border: none;
			background-color: #303641;
			color: #fff;
			cursor: pointer;
		}
		button:hover{
			background-color: lighten(#303641, 10);
		}
		button.active{
			background-color: #2ecc71;
		}
	}
}