table{
	width: 70%;
	border: 1px #eee solid;
	box-shadow: #000 -5px 3px 8px -5px;
	border-collapse: collapse;
	thead th{
		border-bottom: 1px #18bc9c solid;
	}
	tfoot th{
		border-top: 1px #18bc9c solid;
	}
	thead, tfoot{
		// background-color: #333;
	}
	tr{
		height: 40px;
		text-align: center;
	}
	tbody tr:hover{
			background: #18bc9c;
			// color: #fff;
	}
	tbody tr:nth-child(2n+1){
		background-color: lighten(#18bc9c, 55);
	}
}